body{
    font-family: "Press Start 2P", sans-serif;
}


::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #59AD6B;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #41814f;
  }

.MuiContainer-root{
    width:100%;
}

  .symbolIcon{
      width:25px;
  }

 .fa-twitter{
    color: #59AD6B;
}

.fa-twitter:hover{
    color: #41814f;
    transition: color 0.5s ease;
}