.slick-slider{
    margin-top:1%;
    margin-bottom:2%;
}

.slick-track{

}

.slick-slide{
}

.NFTdiv{
    background-color: #060B15;
    max-height:300px;
    border: 1px solid white;
    border-radius: 5%;
    padding-top:2%;
    margin:2%;
    text-align:center;
}

.NFTimage{
    max-width: 200px;
    margin:0 auto;
}

.symbolIcon{
    width:15px;
    display:inline;
}

h3{
    margin-top:1.5%;
}